
/* call */

.chat-btn {
  cursor: pointer;
  z-index: 1600
}

.wrapper {
  position: fixed;
  right: 66px;
  top: 275px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  transition: all 0.6s;
  opacity: 0;
}

.wrapper-head {
  position: fixed;
  right: 66px;
  top: 200px;
  /*width: 300px;*/
  background-color: #fff;
  border: 1px solid #c0c0c0;
  transition: all 0.4s;
  z-index: 5
}


.close:hover {
  color: #db6f34
}
