<section id="sthome" class="d-flex align-items-center">

  <div class="mt-5">
    <div class="row">
      <div class="container pt-lg-0 px-5">
          <div class="text-center">
              <p class="text-white fw-bolder home-title">
                LE <span class="text-warning">PARTENAIRE DE CONFIANCE</span> DES ÉTATS POUR LA TRANSFORMATION NUMÉRIQUE.
              </p>
            <p class="text-break text-white mt-4 mb-5">
              Nous accompagnons les États dans leur transition numérique et les aidons à lever les fonds nécessaires pour un avenir digital prospère.
            </p>
            <button class="text-white fw-bold btn btn-warning border-0 rounded-0 mt-4 px-4 py-2">EN SAVOIR PLUS</button>
          </div>
      </div>
    </div>
  </div>

</section>


<section class="bg-light mb-5 px-lg-5">
  <div class="container-fluid py-5">
    <div class="d-flex justify-content-center">
      <h1 class="st-title">NOS OFFRES</h1>
    </div>
    <div class="col-lg-12">
      <div class="container px-lg-5 mb-5">
        <p class="text-break text-center" style="color: #3C3C3C">
          Nous comprenons l’importance de la qualité, de la fiabilité et de la tranquillité d’esprit. C’est pourquoi nous nous engageons à fournir des services exceptionnels, adaptés à vos besoins spécifiques, avec un souci constant du détail et un professionnalisme inégalé.
          <br> Explorez nos offres ci-dessous et découvrez comment nous pouvons simplifier votre vie et optimiser votre espace. Nous sommes impatients de collaborer avec vous pour réaliser vos objectifs et surpasser vos attentes.        </p>

        <div class="row mt-5 pb-5">
          <div class="col-lg-12 ">
            <div class="row d-flex justify-content-between">
              <div class="col-lg-6 col-xl-6 gap-5 mb-3">
                <div class="d-flex gap-3">
                  <img src="assets/image/Groupe149.png" class="align-self-center img-fluid" width="85" />
                  <div>
                    <h6 class="mt-3">CONSULTING</h6>
                    <p class="text-break">
                      Nous vous offrons bien plus que des conseils. Nous vous offrons une expertise de pointe, une vision stratégique et un partenariat sur mesure pour relever vos défis les plus complexes et atteindre de nouveaux sommets ….
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-6 gap-5 mb-3">
                <div class="d-flex gap-3">
                  <img src="assets/image/Groupe149.png" class="align-self-center img-fluid" width="85" />
                  <div>
                    <h6 class="mt-3">DIGITALISATION</h6>
                    <p class="text-break">
                      Dans un monde en constante évolution, la digitalisation est devenue un impératif pour rester compétitif et prospérer. Nous sommes fiers de vous offrir notre expertise en matière de digitalisation, pour vous aider à transformer …                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-6 gap-5 mb-3">
                <div class="d-flex gap-3">
                  <img src="assets/image/Groupe149.png" class="align-self-center img-fluid" width="85" />
                  <div>
                    <h6 class="mt-3">IT ( TECHNOLOGIES DE L’INFORMATION )</h6>
                    <p class="text-break">
                      Dans l’ère numérique d’aujourd’hui, l’infrastructure informatique est au cœur de toute entreprise prospère. Nous sommes fiers de vous offrir notre expertise en matière de services informatiques, pour vous aider à maximiser…                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-6 gap-5 mb-3">
                <div class="d-flex gap-3">
                  <img src="assets/image/Groupe149.png" class="align-self-center img-fluid" width="85" />
                  <div>
                    <h6 class="mt-3">MONÉTIQUE</h6>
                    <p class="text-break">
                      Notre service de monétique englobe une gamme complète de solutions, allant de la mise en place de terminaux de paiement électronique (TPE) à l’intégration de systèmes de paiement en ligne, en passant par la gestion des …                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-6 gap-5 mb-3">
                <div class="d-flex gap-3">
                  <img src="assets/image/Groupe149.png" class="align-self-center img-fluid" width="85" />
                  <div>
                    <h6 class="mt-3">FINANCES</h6>
                    <p class="text-break">
                      Notre service financier englobe une gamme complète de solutions, allant de la gestion comptable et fiscale à la planification financière stratégique, en passant par l’analyse des investissements et la gestion des risques. Que vous …                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-6 gap-5 mb-3">
                <div class="d-flex gap-3">
                  <img src="assets/image/Groupe149.png" class="align-self-center img-fluid" width="85" />
                  <div>
                    <h6 class="mt-3">ADMINISTRATIF</h6>
                    <p class="text-break">
                      Notre service administratif englobe une vaste gamme de solutions, allant de la gestion des tâches quotidiennes telles que la gestion des courriers, la gestion des fournitures de bureau, à des services plus spécialisés comme la gestion …                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="position-absolute" style="left: 50%; transform: translate(-50%, -10%);">
          <img src="assets/image/3d-render-black-white-hands-gestures-set.png" class="img-fluid" width="800" alt="">
        </div>
      </div>
    </div>
  </div>

</section>

<section class="d-none d-lg-block"></section>

<section class="ms-lg-5">
  <div class="ms-lg-4 py-lg-5">
    <div class="py-5" style="  background: linear-gradient(to left, rgb(255,255,255) 16%, rgb(245,245,245) 16%); background-size: cover; width: 100%">
      <div class="d-flex ms-5">
        <h1 class="st-title-horizontal py-5">NOS EXPERTISES</h1>
      </div>
      <div class="">
      <app-st-swiper-card></app-st-swiper-card>
    </div>
    </div>
  </div>

</section>


<section class="mb-5 ms-xl-5">
      <div class=" mb-5">
          <div class="col-lg-12 ">
            <div class="row">
              <div class="col-xl-6 mb-3 px-5 px-sm-5 pb-sm-5">
                <div class="d-flex mb-4">
                  <h1 class="st-title-val">NOS VALEURS</h1>
                </div>
                <div class="">
                  <p class="text-break">Chez KCG , nos valeurs sont bien plus qu’une simple déclaration. Elles représentent le fondement de tout ce que nous faisons, guidant nos actions et nos décisions au quotidien. Enracinées dans notre culture d’entreprise, ces valeurs sont :</p>
                  <p><span class="fw-bolder">Engagement :</span> <span class="text-break"> L’engagement n’est pas simplement une valeur parmi d’autres ; c’est la pierre angulaire de notre identité et de notre succès.</span></p>
                  <p><span class="fw-bolder">Partage :</span> <span class="text-break"> Le partage est au cœur de notre culture d’entreprise.</span></p>
                  <p><span class="fw-bolder">Innovation :</span> <span class="text-break"> Nous sommes constamment à la recherche de nouvelles idées et de nouvelles approches pour innover et nous améliorer.</span></p>
                  <p><span class="fw-bolder">Excellence :</span> <span class="text-break"> Nous aspirons à l’excellence dans tout ce que nous entreprenons.</span></p>
                  <p><span class="fw-bolder">Respect :</span> <span class="text-break"> Nous valorisons la diversité, le respect mutuel et l’inclusion.</span></p>
                  <p><span class="fw-bolder">Solidarité :</span> <span class="text-break"> La solidarité est au cœur de notre identité et de notre culture d’entreprise.</span></p>
                </div>

                <div class="mt-5">
                  <a href="#" class=" btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-5 py-2 ">VOIR PLUS</a>
                </div>
              </div>
              <div class="col-xl-6 mb-3 sthome-4 text-center">
                <div class="py-5">
                  <img src="assets/image/Groupe16533.png" class="img-fluid" style="width: 60%" alt="">
                </div>
              </div>

            </div>
          </div>
      </div>
</section>
