<div class="ps-5">
  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="0" [slidesPerView]="propertyValue">

    <swiper-slide>
      <div class="">
        <div class="card mb-5 p-3 rounded-0 border-0 me-3">
          <img src="assets/image/blue-money-business.png" class="img-swiper"/>
          <div class="card-body p-0 mt-3 mb-4">
            <h6 class="fw-bold">K. FINANCES</h6>
            <p style="font-size: 0.950rem">
              Nous accompagnons les états dans le Conseil financier sur leurs besoins de restructuration financière et les levées de fonds, la gestions des risques financiers, le Conseil financier et stratégique pour la titrisation de créances, l’arrangement et la Structuration de dette, etc…
            </p>
          </div>
          <a href="#" class="col-5 btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-4 py-2 ">VOIR PLUS</a>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="">
        <div class="card mb-5 p-3 rounded-0 border-0 me-3">
          <img src="assets/image/senior-african-american.png" class="img-fluid"/>
          <div class="card-body p-0 mt-3 mb-4">
            <h6 class="fw-bold">K. PENSIONS</h6>
            <p style="font-size: 0.950rem">
              De l’encaissement des cotisations jusqu’à la gestion des prestations sociales et des recettes, nous digitalisons l’activité de la sécurité sociale. Les prestations sont calculées automatiquement après une instruction en zéro papier pour une satisfaction totale de vos adhérents, et les cotisations …
            </p>
          </div>
          <a href="#" class="col-5 btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-4 py-2 ">VOIR PLUS</a>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="">
        <div class="card mb-5 p-3 rounded-0 border-0 me-3">
          <img src="assets/image/growth-money-arrow-success.png" class="img-fluid"/>
          <div class="card-body p-0 mt-3 mb-4">
            <h6 class="fw-bold">K. BUDGET</h6>
            <p style="font-size: 0.950rem">
              Le circuit budgétaire d’une administration publique est structuré en plusieurs séquences qui doivent être réalisées avant le règlement. Notre solution entièrement paramétrable s’adapte à vos processus pour une gestion innovante et sécurisée de vos dépenses.
            </p>
          </div>
          <a href="#" class="col-5 btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-4 py-2 ">VOIR PLUS</a>
        </div>
      </div>
    </swiper-slide>


    <swiper-slide>
      <div class="">
        <div class="card mb-5 p-3 rounded-0 border-0 me-3">
          <img src="assets/image/side-view-young-woman.png" class="img-fluid"/>
          <div class="card-body p-0 mt-3 mb-4">
            <h6 class="fw-bold">K. DOUANES</h6>
            <p style="font-size: 0.950rem">
              Respectant les meilleurs standards internationaux du commerce mondial, notre solution vous offre la possibilité de moderniser la gestion des manifestes, des déclarations, du tarif, de la sélectivité et du recouvrement des droits et taxes douanières. Grâce à des API, vous êtes ouvert sur tous v…
            </p>
          </div>
          <a href="#" class="col-5 btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-4 py-2 ">VOIR PLUS</a>
        </div>
      </div>
    </swiper-slide>


    <swiper-slide>
      <div class="">
        <div class="card mb-5 p-3 rounded-0 border-0 me-3">
          <img src="assets/image/smile-phone-credit-card-with-black-woman.png" class="img-fluid"/>
          <div class="card-body p-0 mt-3 mb-4">
            <h6 class="fw-bold">KARIPAY</h6>
            <p style="font-size: 0.950rem">
              Nous accompagnons dans la mise en œuvre et le déploiement de plateforme monétique offrant aux entreprises interconnectés, grâce à son API, des moyens de paiement locaux et internationaux mais aussi et surtout une composante unique de rapprochement bancaire et…
            </p>
          </div>
          <a href="#" class="col-5 btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-4 py-2 ">VOIR PLUS</a>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="">
        <div class="card mb-5 p-3 rounded-0 border-0 me-3">
          <img src="assets/image/angle-hands-african-american.png" class="img-fluid"/>
          <div class="card-body p-0 mt-3 mb-4">
            <h6 class="fw-bold">K. IMPOTS</h6>
            <p style="font-size: 0.950rem">
              Pour une amélioration des recettes internes, tous les processus liés aux contribuables, à leur gestion, au recouvrement des impôts, au contrôle et au contentieux sont centralisés dans notre solution qui vous offre une vision à 360° grâce à l’exploitation des données. ..
            </p>
          </div>
          <a href="#" class="col-5 btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-4 py-2 ">VOIR PLUS</a>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="">
        <div class="card mb-5 p-3 rounded-0 border-0 me-3">
          <img src="assets/image/nobody-desk-company-office-with-computer-tools-empty.png" class="img-fluid"/>
          <div class="card-body p-0 mt-3 mb-4">
            <h6 class="fw-bold">K. PROJ</h6>
            <p style="font-size: 0.950rem">
              Fédérez l’ensemble des acteurs des projets sur une plateforme unique qui regroupe tous les outils nécessaires à une gestion de portefeuille de projets intégrées et efficace. Bénéficiez d’une visibilité en temps réel sur les activités des équipes, encouragez la collaboration et favorisez l’adoption des …
            </p>
          </div>
          <a href="#" class="col-5 btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-4 py-2 ">VOIR PLUS</a>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="">
        <div class="card mb-5 p-3 rounded-0 border-0 me-3">
          <img src="assets/image/african-american-man-with-face-mask-analyzing-documents.png" class="img-fluid"/>
          <div class="card-body p-0 mt-3 mb-4">
            <h6 class="fw-bold">K. PROCUREMENT</h6>
            <p style="font-size: 0.950rem">
              La dématérialisation des opérations de marchés publics permet une traçabilité totale des procédures et une gestion zéro papier de la publication des appels d’offres, leur soumission électronique, ainsi que les processus d’ouverture, de passage en commission et de contractualisation.
            </p>
          </div>
          <a href="#" class="col-5 btn btn-sm btn-white border-2 border-warning rounded-0 text-warning fw-bold px-lg-4 py-2 ">VOIR PLUS</a>
        </div>
      </div>
    </swiper-slide>


  </swiper-container>
</div>
